<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
  <title>Frankies Fix</title>
  <style>
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      background-color: #1e1e1e; /* Dark background */
      color: #c5c8c6; /* Light text color */
      font-family: 'Courier New', Courier, monospace; /* Terminal-like font */
    }
    main {
      flex: 1;
    }
    a {
      color: #81a2be; /* Light blue links */
    }
    a:hover {
      color: #8abeb7; /* Lighter blue on hover */
    }
  </style>
</head>
<body>
  <nav class="flex items-center justify-between bg-gray-900 p-6 mb-4">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <span class="font-semibold text-xl tracking-tight">Ff</span>
    </div>
    <div class="block">
      <ul class="flex space-x-4">
        <li><a href="/" class="text-gray-300 hover:bg-gray-700 px-3 py-2 rounded">Home</a></li>
        <li><a href="/about" class="text-gray-300 hover:bg-gray-700 px-3 py-2 rounded">About</a></li>
      </ul>
    </div>
  </nav>
    <h1> This page is a work in progess...</h1>
  <!-- Footer -->
  <footer class="bg-gray-900 text-white p-6 mt-auto">
    <div class="container mx-auto text-center">
      <p>&copy; 2024 Frankie's Blog. All rights reserved.</p>
      <div class="flex justify-center space-x-4 mt-4">
        <a href="#" class="text-gray-300 hover:text-white">Privacy Policy</a>
        <a href="#" class="text-gray-300 hover:text-white">Terms of Service</a>
        <a href="#" class="text-gray-300 hover:text-white">Contact</a>
      </div>
    </div>
  </footer>
</body>
</html>
